/*busqueda*/
.search-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    text-align: center;
}
.search-input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}
/*equipos*/
.teams-list {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.team-card {
    background-color: #caebdc;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #cddc39; /* borde decorativo a la izquierda */
}
.team-card:hover {
    transform: translateX(5px);
}
.team-name {
    font-weight: bold;
    font-size: 1.1rem;
}
.team-short {
    color: #555;
    font-size: 0.9rem;
    margin-left: 5px;
}
/*botones*/

.team-actions {
    display: flex;
    gap: 10px;
}
button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.2s;
}
.btn-primary {
    background-color: #1e392a;
    color: white;
}
.btn-secondary {
    background-color: transparent;
    border: 1px solid #1e392a;
    color: #1e392a;
}

button:hover {
    opacity: 0.9;
}

/* Mensajes */
.loading-msg, .no-results {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2rem;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}